# --- Environment & Secrets ---
.env
.env.backup
.env.production
.env.local
/auth.json
/storage/*.key

# --- Allow Templates/Examples ---
# We ignore all .env files by default, but manually allow the "safe" ones.
!.env.example
!.env.demo.example
!.env.live.example

# --- Dependencies & Build Tools ---
/node_modules
/vendor
/public/build
/public/hot
/storage/pail
Homestead.json
Homestead.yaml

# --- Editor & IDE Specifics ---
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db

# --- Logs & Cache ---
*.log
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# --- Symbolic Links ---
/public/storage